<!DOCTYPE html>
<html>
<head>
  <title>Language Generator</title>
</head>
<body>
  <h1>Language Generator</h1>
  <p>Refresh to get a new language description.</p>
  <div class="language">
    <h2>{{ name }}</h2>
    <p>{{ description }}</p>
  </div>
</body>
</html>